.container {
    height:100vh;
    wight:100vw;
}
.shaped {
    background: black url(https://pp.userapi.com/c849120/v849120857/cc331/XftS2mpmwHo.jpg) center top no-repeat;
    height:100vh;
    width:40vw;
    background-size:cover;
    float:left;
    shape-outside:     polygon(0 0, 100% 0, 100% 40%, 0 100%);
    shape-margin:20px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
    clip-path:         polygon(0 0, 100% 0, 100% 40%, 0 100%)
}

.content{
    margin: 20px;
}
