.common_ONMM_card_container{
    display: flex;
    perspective: 1000px;
    transform-style: preserve-3d;
    padding: 10px;
}

.card_container{
    display: flex;

    height: 350px;
    width: 250px;
    /*background-color: white;*/
    background-image: var(--ParalaxCardBackgroundColor);
    border-radius: 10px;
    border: solid 2px orange;
    /*box-shadow: 0px 20px 50px black;*/
    box-shadow: var(--BABWIAButtonBackgroundColorBoxShadow);
    position: relative;
}

.card_container_transparent {
    height: 350px;
    width: 250px;
    background-color: transparent;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    text-decoration: none;
}

.card_container_transparent:hover {
    text-decoration: none;
    color: transparent;
    background-image: none;
    background-color: transparent;
}

.cardONMM_img{
    height: 60%;
    width: 45%;
    border-radius: 10px;
    margin-right: 10px;
    float: left;
}

.orientationImageClass{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    margin-right: 10px;
    /*float: left;*/

}

.cardONMM_container_info {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.cardONMM_title{
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    color: var(--ParalaxCardFontColor);
}

.cardONMM_description_p {
    text-overflow: ellipsis;
    flex: 7;
}

.cardSpanTopic{
    color: orange;
    text-overflow: ellipsis;
}

.cardONMM_title_container{
    /*display: flex;*/
    flex: 1;
}

.cardONMM_link {
    color: orange;
    font-weight: bold;
    flex: 1;
    text-align: center;
}

.cardSpanText {
    color: var(--ParalaxCardFontColor);
}
