.card_postal_container {
    /*width: 250px;*/
    /*height: 350px;*/
    /*display: flex;*/
    padding: 10px;
}

.card_postal {
    position: relative;
    margin: 15px 0;
    width: 250px;
    height: 350px;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px black;
    border: 2px solid black;
    border-radius: 5px;
    /*color: orange;*/
    /*background-color: white;*/
    background-image: var(--ParalaxCardBackgroundColor);
}

.card_postal:hover {
    transform: perspective(2000px) rotate(-5deg);
    box-shadow: inset 20px 0 50px black;
    /*background-color: white;*/
    background-image: var(--ParalaxCardBackgroundColor);

}

.card_postal .img_box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid black;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}

.card_postal .img_box .card_postal_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
}

.card_postal:hover .img_box{
    transform: rotateY(-135deg);
}

.img_box {

}

.card_postal_details{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;

    /*text-decoration: none;*/
    /*color: transparent;*/
    /*background-image: none;*/
    /*background-color: transparent;*/
}

.card_postal_img {
    /*width: 50px;*/
    /*height: 350px;*/
    /*background-size: 100%;*/
    /*border-radius: 5px;*/
    /*background: white   ;*/
}
.cardPostal_link {
    position: absolute;
    color: orange;
    font-weight: bold;
    flex: 1;
    text-align: center;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    top: 8%;
    left: 0;
    right: 0;
    font-size: 4vh;
}

.innerPostalTitle {
    color: orange;
    font-weight: bold;
    flex: 1;
    text-align: center;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_postal_details_characteristics {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    flex: 8;
}

.card_postal_details_inner {
    height: 40vh;
    width: 100%;
    display: flex;
    flex: 2;
    flex-direction: column;
}
